/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

html {
    background: #fff;
    color: #333;
}

section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section_1 {
    height: 100vh;
}

.page-heading {
    width: 443px;
    margin: 30px auto 70px;
    border-bottom: 2px solid #5d5d5d;
}

.page-heading > h2 {
    font-family: "Calibri", sans-serif;
    font-size: 41px;
    font-weight: 600;
    display: inline-block;
    color: #5d5d5d;
}


/*SECTION 1*/


.bx-wrapper .bx-pager.bx-default-pager a[data-slide-index = '0'] {
    background: url(../images/ico%20mc2.png) no-repeat;
    background-size: cover;
   
}
.bx-wrapper .bx-pager.bx-default-pager a[data-slide-index = '1'] {
    background: url(../images/ico%20Rutgers2.png) no-repeat;
     background-size: cover;
    
}
.bx-wrapper .bx-pager.bx-default-pager a[data-slide-index = '0'].active,
.bx-wrapper .bx-pager.bx-default-pager a[data-slide-index = '0']:hover{
    background: url(../images/ico%20mc.png) no-repeat;
}
.bx-wrapper .bx-pager.bx-default-pager a[data-slide-index = '1'].active,
.bx-wrapper .bx-pager.bx-default-pager a[data-slide-index = '1']:hover{
    background: url(../images/ico%20Rutgers.png) no-repeat;
}

#background-slider .bx-wrapper .bx-viewport {
    left: 0;
    border: none;
    position: relative;
}

ul.bxslider {
    margin: 0;
    padding: 0;
}

#background-McDonalds {
    width: 100%;
    height: 100vh;
    background: url(../images/Back%201.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 20;
}

#background-university {
    width: 100%;
    height: 100vh;
    background: url(../images/Back%202.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 20;
}

.front_slider {
    width: 100%;
    min-width: 1px;
    position: absolute;
    top: 25%;
    z-index: 50;
}

.laptop {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 25%;
    z-index: 0;
}


/*SECTION 1******NAVBAR*/

#header {
    width: 100%;
    height: 80px;
    background: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    float: left;
}

#navbar {
    width: auto;
    margin-left: 200px;
    margin-right: auto;
    height: 76px;
}

#navbar > ul {
    background: #fff;
    opacity: 0.6;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    display: -webkit-flex;
    /* Safari */
    -webkit-justify-content: space-around;
    /* Safari 6.1+ */
    vertical-align: middle;
    margin-bottom: 0;
    z-index: 100;
}

#navbar li {
    height: auto;
    line-height: 2.5;
}

#navbar a {
    color: #5d5d5d;
    font-family: "Calibri", sans-serif;
    font-size: 29px;
}

.navbar-toggle {
    border: 1px solid #333;
    top: 25%;
}

.navbar-toggle .icon-bar {
    background: #333;
}


/*****************SECTION 1******CONTENT*/


/**********SECTION_2******************/

.section_2 {
    background: linear-gradient(to top, #cdcdcd 0%, #f2f2f2 30%);
    text-align: center;
}

.level_1,
.level_2,
.level_3 {
    display: flex;
    justify-content: space-around;
    display: -webkit-flex;
    /* Safari */
    -webkit-justify-content: space-around;
    /* Safari 6.1+ */
    vertical-align: middle;
    line-height: 1;
}

.level_1 {
    margin-bottom: -10px;
}

.level_3 {
    line-height: 1.5;
    letter-spacing: -2px;
}

.level_2,
.level_3 {
    margin-bottom: 70px;
}

.captivate,
.articulate,
.camtasia {
    width: 136px;
    height: 136px;
    border-radius: 10px;
    border: 3px;
    margin: 0 auto;
}

.level_1 .captivate {
    background: url(../images/adobe-captive-img.png) no-repeat;
    background-size: cover;
    border: solid #71e3ab;
}

.level_1 .articulate {
    background: url(../images/articulate-storyline-img.png) no-repeat;
    background-size: cover;
    border: solid #e38ae5;
}

.level_2 .camtasia {
    background: url(../images/camtasia-studio-img.png) no-repeat;
    background-size: cover;
    border: solid #a9c48c;
}

.level-1-2-text {
    font-size: 45px;
    color: #5d5d5d;
    font-family: Calibri, sans-serif;
    font-weight: 200;
}

.photoshop,
.illustrator,
.effects {
    width: 116px;
    height: 116px;
    border-radius: 10px;
    border: 3px;
    margin: 0 auto;
}

.level_3 .photoshop {
    background: url(../images/adobe-photoshop-img.png) no-repeat;
    background-size: cover;
    border: solid #6d769b;
}

.level_3 .illustrator {
    background: url(../images/adobe-illustrator-img.png) no-repeat;
    background-size: cover;
    border: solid #f8cb84;
}

.level_3 .effects {
    background: url(../images/adobe-after-effects.png) no-repeat;
    background-size: cover;
    border: solid #b4a0cd;
}

.level-3-text {
    font-size: 27px;
    color: #5d5d5d;
    font-family: Calibri, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}


/**************SECTION 3***********************/

.section_3,
.section_5,
.section_6 {
    background: #f2f2f2;
    text-align: center;
}

.section_3 > .row {
    margin-bottom: 100px;
}

.thumbnail,
.img-thumbnail {
    border: none;
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
}

.caption {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.range {
    padding: 0 2px;
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #242424;
    margin-top: 15px;
}

.skill-wrapper {
    line-height: 0.8;
}

.skill-wrapper:after {
    content: ' ';
    display: block;
    clear: both;
    height: 10px;
}

.skill {
    float: left;
}

.img-skill {
    float: right;
}

.caption > h2 {
    font-family: "Calibri", sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: #242424;
    white-space: nowrap;
    letter-spacing: -1px;
    margin-top: 0;
    line-height: 1;
}

.caption > h4 {
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #242424;
    background: #e3e3e3;
    border-radius: 10px;
}


/**************SECTION 4***********************/

.section_a {
    height: 100vh;
    background: #000000;
}

iframe {
    /*  width: 100vh !important;       
       height: 100vh !important;*/
}


/**************SECTION 5***********************/

.title {
    /*display: flex;
    justify-content: space-around;*/
}

.title img {
    /*margin: 0 15px;*/
    width: 100%;
    /*margin: 0 auto 40px;*/
}

.title > div {
    position: relative;
    border: 1px transparent;
    margin: 0 0 50px 4%;
    float: left;
    width: 28%;
    overflow: hidden;
}

.slide-panel {
    width: 100%;
    height: 33%;
    background: #eee;
    opacity: 0.8;
    position: absolute;
    bottom: -13.5%;
}

.slide-panel:hover {
    bottom: 0;
}

.partner-name {
    font-family: "Calibri", sans-serif;
    font-size: 3.5em;
    color: #242424;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0;
}

.partner-description {
    font-size: 2em;
    font-family: "Calibri", sans-serif;
    color: #242424;
    font-weight: 100;
    line-height: 1.3;
    text-align: left;
    margin-left: 10px;
}


/**************SECTION 6***********************/

.value {
    padding: 190px 0 295px 0;
}

.section_6 .page-heading {
    margin-top: -10px;
}

.section_6 p {
    font-family: "Calibri", sans-serif;
    font-size: 41px;
    color: #5d5d5d;
    font-weight: 100;
    line-height: 1;
    text-align: left;
}

.img-container {
    height: 165px;
}

.row.value > div {
    padding: 0 6%;
    margin-bottom: 50px;
}


/******************FOOTER*******************************/

footer {
    background: #ddd;
    font-family: "Calibri", sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #5d5d5d;
    padding: 40px 0 10px;
}

footer > div {
    margin: 0 auto;
    text-align: center;
}

footer div.row {
    text-align: left;
    padding: 0 0 0 2%;
}

footer span {
    font-weight: 400;
}

footer>div:nth-child(3) {
    font-size: 12px;
}

footer>div:nth-child(2) {
    margin-bottom: 20px;
    margin-top: 10px;
}

footer a {
    color: #5d5d5d;
}


/**************MEDIA***********************/

@media only screen and (max-width: 1920px) and (min-width: 1366px) and (orientation: landscape) {
    .bx-wrapper img.front_slider,
    .laptop {
        min-width: 1px;
        max-width: 100%;
        width: 100%;
        top: 28%;
        margin-left: 0;
    }
    
    .bx-wrapper .bx-controls-direction a {
        top: 55.5% !important;
    }
}

@media only screen and (max-width: 1500px) {
    .partner-name {
        font-size: 3em;
    }
    .partner-description {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 1380px) {
    .captivate,
    .articulate,
    .camtasia {
        width: 100px;
        height: 100px;
        border-radius: 8px;
    }
    .photoshop,
    .illustrator,
    .effects {
        width: 85px;
        height: 85px;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 1365px) and (min-width: 1281px) and (orientation: landscape) {
    .bx-wrapper img.front_slider,
    .laptop {
        top: 25%;
    }
        
}

@media only screen and (max-width: 1300px) {
    .level_2 {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1290px) {
    .partner-name {
        font-size: 2.6em;
    }
    .partner-description {
        font-size: 1.8em;
    }
    .section_6 p {
        font-size: 35px;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) and (orientation: landscape) {
    .laptop {
        top: 25%;
    }
    /*.bx-wrapper .bx-controls-direction a {
        top: 48.5% !important;
    }*/
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .laptop,
    .front_slider {
        top: 29%;
    }   
    #navbar a {
        font-size: 24px;
    }
    #navbar li {
        line-height: 78px;
    }
}

@media only screen and (max-width: 1100px) {
    .partner-name {
        font-size: 2.35em;
    }
    .partner-description {
        font-size: 1.6em;
    }
    .section_6 p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .level_1,
    .level_2,
    .level_3 {
        display: block;
    }
    [class^="wrapper"] {
        margin-bottom: 40px;
    }
    .title > div {
        width: 45%;
        margin-left: 3.3%;
    }
    .partner-name {
        font-size: 3.5em;
    }
    .partner-description {
        font-size: 2em;
    }
}


@media only screen and (max-width: 969px) and  (min-width: 900px) and (orientation: landscape) {
    .laptop,
    .front_slider {
        top: 25%;
    }
       #navbar a {
        font-size: 24px;
    }
    #navbar li {
        line-height: 78px;
    }
}


@media only screen and (max-width: 924px) {
    .partner-name {
        font-size: 3em;
    }
    .partner-description {
        font-size: 1.8em;
    }
}


@media only screen and (max-width: 899px) {
    .laptop,
    .front_slider {
        top: 23%;
    }
       #navbar a {
        font-size: 20px;
    }
    #navbar li {
        line-height: 78px;
    }
}

@media only screen and (max-width: 820px) {
    .partner-name {
        font-size: 2.8em;
    }
    .partner-description {
        font-size: 1.5em;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 720px) {
    .page-heading > h2 {
        font-size: 28px;
    }
    .page-heading {
        width: 250px;
    }
    .title > div {
        width: 70%;
        margin-left: 15%;
    }
    .partner-name {
        font-size: 2em;
    }
    .partner-description {
        font-size: 1.3em;
        line-height: 1.4;
    }
    .value {
        padding: 20px 20% 20px 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 906px) and (orientation: portrait) {
    .bx-wrapper img.front_slider,
    .laptop {
        min-width: 360px;
        max-width: 110%;
        width: 110%;
        top: 28%;
        margin-left: -5%;
    }
     .bx-wrapper .bx-controls-direction a {
        top: 53.5% !important;
    }
    
    #navbar > ul.list-unstyled {
        position: absolute;
        top: 101%;
        left: 0;
        width: 100%;
        opacity: 1;
        background: #efefef;
        padding: 0 15px;
        margin-bottom: 0;
    }
    #navbar ul li a {
        color: #000;
        font-size: 24px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) and (orientation: portrait) {
    #header {
        padding-right: 25px;
    }
    .bx-wrapper img.front_slider,
    .laptop {
        min-width: 360px;
        max-width: 110%;
        width: 110%;
        top: 28%;
        margin-left: -5%;
    }
    
    #navbar > ul.list-unstyled {
        position: absolute;
        top: 101%;
        left: 0;
        width: 40%;
        opacity: 1;
        background: #fff;
        display: block;
    }
    #navbar ul li a {
        color: #000;
        margin-left: 7%;
    }
}

@media only screen and (max-width: 599px) {
    .bx-controls-direction {
        display: none;
    }
    .bx-wrapper img.front_slider,
    .laptop {
        min-width: 260px;
        max-width: 120%;
        width: 120%;
        top: 25%;
        margin-left: -10%;
    }
       #navbar ul {
        position: absolute;
        top: 101%;
        left: 0;
        width: 40%;
        opacity: 1;
        background: #fff;
        display: block;
    }
    #navbar ul li a {
        color: #000;
        font-size: 18px;
        margin-left: 7%;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 53px !important;
	height: 28px !important;
        background-size: cover !important;
    }
}